body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content-body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.half {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.picture-half {
  width: 40%;
  height: 100vh;
}
.content-half {
  width: 60%;
  height: 100vh;
  background-color: grey;
}
.form {
  width: 80%;
  height: 60%;
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: column;
}
input {
  width: 60%;
  height: 30px;
  border: none;
  border-radius: 3px;
  margin: 10px auto;
}
label {
  color: black;
  width: 60%;
  font-size: 20px;
  margin: 5px auto;
}
