body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content-body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.signing-half {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signing-picture-half {
  width: 40%;
  height: 100vh;
  background: linear-gradient(147deg, #1f846c 27.03%, #2e56a1 98.33%);
}
.signing-content-half {
  width: 60%;
  height: 100vh;
  background-color: white;
}
.signing-form {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: column;
}
.signing-form-title {
  font-size: 60px;
  text-align: center;
  font-family: "Sofia", sans-serif;
}
.signing-input {
  width: 60%;
  height: 40px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin: 10px auto;
  background-color: rgb(229, 229, 229);
}
.signing-inputlabel {
  color: black;
  width: 60%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 5px auto;
}
.signing-button {
  background: linear-gradient(147deg, #1f846c 27.03%, #2e56a1 98.33%);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  border-radius: 10px;
  margin: auto;
  width: 30%;
  height: 50px;
  font-size: 25px;
}
.signing-button:hover {
  cursor: pointer;
}

/* Screen Rules */

@media (max-width: 800px) {
  .signing-picture-half {
    display: none;
  }
  .signing-content-half {
    width: 100%;
  }
}
