.discovery {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.discovery-searchbar {
  width: 100%;
  height: 80px;
  background: linear-gradient(147deg, #1f846c 27.03%, #2e56a1 98.33%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchbar-input-container {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.searchbar-icon {
  border-radius: 50% 0 0 50%;
  height: 60px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  > svg {
    width: 30px;
    height: 30px;
    fill: white;
    margin: auto;
  }
}
.searchbar-input {
  width: max-content;
  border-radius: 0 50% 0 50%;
  height: 50px;
}
