<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | KlingtGut</title>
    <link rel="stylesheet" href="/general/configs/body.css" />
    <link rel="stylesheet" href="/general/navbar/style.css" />
  </head>
  <body>
    <nav>
      <div class="account-item-content">
        <div class="account-item-name">Anmelden</div>
        <div class="account-item-subtitle">oder registrieren</div>
      </div>
      <div class="navbar-links-container">
        <div class="navbar-link navbar-link-active">
          <div class="navbar-link-icon"></div>
          <div class="navbar-link-text"></div>
        </div>
      </div>
      <div class="account-item">
        <div class="account-item-icon">
          <div class="account-item-icon-default"></div>
          <div class="account-item-icon-custom"></div>
        </div>
        <div class="navbar-separator"></div>
      </div>
      <div class="navbar-logo-container"></div>
    </nav>
    <script src="/general/navbar/script.js"></script>
  </body>
</html>
