<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login KlingtGut</title>
    <link rel="icon" href="/images/klingtgutappscreen.png" />
    <link rel="stylesheet" href="/general/configs/fonts.css" />
    <link rel="stylesheet" href="/general/configs/body.css" />
    <link rel="stylesheet" href="/general/signing/style.css" />
  </head>
  <body>
    <div class="content-body">
      <div class="signing-half signing-picture-half">
        <img src="/images/klingtgutlogoremvdbackground.png" alt="" />
      </div>
      <div class="signing-half signing-content-half">
        <div class="signing-form-container">
          <div class="signing-form">
            <div class="signing-form-title">Registrierung</div>
            <input
              type="text"
              type="text"
              placeholder="IchHeißeWieIchHeiße123"
              class="signing-input input"
              id="username-input"
            />
            <input
              placeholder="mein.name@email.de"
              type="email"
              name="email-input"
              class="signing-input input"
              id="email-input"
            />
            <input
              placeholder="SuperSicheresPasswort123!"
              type="password"
              name="password-input"
              class="signing-input input"
              id="password-input"
            />
            <button class="signing-button" onclick="submitCredentials('login')">
              Registrieren
            </button>
            <a href="https://klingt-gut/onrender.com/login" class="signing-link"
              >Bereits ein Konto? Jetzt anmelden</a
            >
          </div>
        </div>
      </div>
    </div>
    <script src="/general/signing/script.js"></script>
  </body>
</html>
