nav {
  width: 30vh;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
}
.navbar-logo-container {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}
.navbar-links-container {
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}
.navbar-link {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
}
.navbar-link-icon {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  margin: 0 10px;
  align-items: center;
}
.navbar-link-icon svg {
  height: 30px;
  width: 30px;
  fill: black;
}
